body{
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
}
#container1{
    margin: 0px;
    padding: 20px;
}
#app-icon{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
#status{
    margin: 0px;
    background: red;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    width: 100px;
}
.gallery{
    overflow: auto;
}
.gallery-container{
    width: 1000px;
}
#gallery-img{
    margin: 5px;
    position: relative;
    display: inline-block;
}
#f{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin: 5px;
}
#f:hover{
    opacity: 0.8;
}